In [1]:
from pandas import DataFrame
import pandas as pd

In [5]:
data = pd.read_csv('ZillowData.csv', usecols=['parcelid', 'latitude', 'longitude'], sep=',')

In [8]:
len(data)

2985217

In [15]:
cleanData = data.dropna()

In [17]:
len(cleanData)

2973780

In [21]:
cleanData.tail()

         parcelid    latitude    longitude
2973775  11366340  34769356.0 -118553521.0
2973776  13010327  34087735.0 -118063008.0
2973777  12385768  33951985.0 -118124097.0
2973778  11795063  34041100.0 -118234000.0
2973779  11818454  34080847.0 -118160178.0