In [38]:
from pandas import DataFrame
import pandas as pd
from geopy.distance import vincenty

In [45]:
data = pd.read_csv('ZillowData.csv', usecols=['parcelid', 'latitude', 'longitude'], sep=',')

In [46]:
max(data['longitude'])

-117554316.0

In [8]:
len(data)

2985217

In [15]:
cleanData = data.dropna()

In [17]:
len(cleanData)

2973780

In [41]:
max(cleanData['latitude'])

34819650.0

In [42]:
min(cleanData['latitude'])

33324388.0

In [43]:
max(cleanData['longitude'])

-117554316.0

In [44]:
min(cleanData['longitude'])

-119475780.0

In [21]:
cleanData.tail()

         parcelid    latitude    longitude
2973775  11366340  34769356.0 -118553521.0
2973776  13010327  34087735.0 -118063008.0
2973777  12385768  33951985.0 -118124097.0
2973778  11795063  34041100.0 -118234000.0
2973779  11818454  34080847.0 -118160178.0

In [22]:
sample = cleanData[0:10]

In [32]:
sample

   parcelid    latitude    longitude
0  10754147  34144442.0 -118654084.0
1  10759547  34140430.0 -118625364.0
2  10843547  33989359.0 -118394633.0
3  10859147  34148863.0 -118437206.0
4  10879947  34194168.0 -118385816.0
5  10898347  34171873.0 -118380906.0
6  10933547  34131929.0 -118351474.0
7  10940747  34171345.0 -118314900.0
8  10954547  34218210.0 -118331311.0
9  10976347  34289776.0 -118432085.0

In [34]:
for item in sample.itertuples():
    print(item)

Pandas(Index=0, parcelid=10754147, latitude=34144442.0, longitude=-118654084.0)
Pandas(Index=1, parcelid=10759547, latitude=34140430.0, longitude=-118625364.0)
Pandas(Index=2, parcelid=10843547, latitude=33989359.0, longitude=-118394633.0)
Pandas(Index=3, parcelid=10859147, latitude=34148863.0, longitude=-118437206.0)
Pandas(Index=4, parcelid=10879947, latitude=34194168.0, longitude=-118385816.0)
Pandas(Index=5, parcelid=10898347, latitude=34171873.0, longitude=-118380906.0)
Pandas(Index=6, parcelid=10933547, latitude=34131929.0, longitude=-118351474.0)
Pandas(Index=7, parcelid=10940747, latitude=34171345.0, longitude=-118314900.0)
Pandas(Index=8, parcelid=10954547, latitude=34218210.0, longitude=-118331311.0)
Pandas(Index=9, parcelid=10976347, latitude=34289776.0, longitude=-118432085.0)

In [39]:
curLoc = (34, -118)
id = []
distance = []
latitudes = []
longitudes = []

for item in sample.itertuples():
    lat = item[2] / 1000000
    long = item[3] / 1000000
    dis = vincenty(curLoc, (lat, long)).miles
    id.append(item[1])
    distance.append(dis)
    latitudes.append(lat)
    longitudes.append(long)

data = DataFrame({'id': id, 'latitude': latitudes, 'longitude': longitudes, 'distance': distance})

In [40]:
data

    distance        id   latitude   longitude
0  38.814453  10754147  34.144442 -118.654084
1  37.152502  10759547  34.140430 -118.625364
2  22.667270  10843547  33.989359 -118.394633
3  27.093895  10859147  34.148863 -118.437206
4  25.855658  10879947  34.194168 -118.385816
5  24.849402  10898347  34.171873 -118.380906
6  22.116610  10933547  34.131929 -118.351474
7  21.577584  10940747  34.171345 -118.314900
8  24.228116  10954547  34.218210 -118.331311
9  31.812899  10976347  34.289776 -118.432085