# 1. Load data

In [2]:
import pandas as pd

In [155]:
cleanData = "simple.csv"
data = pd.read_csv(cleanData, sep=',')

In [157]:
data = data.ix[:, ['parcelid', 'latitude', 'longitude']]

In [158]:
data.head()

   parcelid  latitude  longitude
0  10754147  34144442 -118654084
1  10759547  34140430 -118625364
2  10843547  33989359 -118394633
3  10859147  34148863 -118437206
4  10879947  34194168 -118385816

In [13]:
data.size

3000

# 2. Pack rows into items

In [51]:
for attribute in data:
    print(attribute)

parcelid
latitude
longitude

In [52]:
for index, item in data.iterrows():
    if (index % 25 == 24):
        print(index, item['parcelid'], item['latitude'], item['longitude'])

24 11417147 33931500 -118352104
49 11818747 34072919 -118164004
74 12168547 34192420 -118125270
99 12560547 33770013 -118192643
124 13114547 34189273 -118545075
149 13119547 34556011 -118108992
174 13124547 33894127 -118177435
199 13129547 33724619 -118326045
224 13134547 34094771 -118030187
249 14281747 33646579 -117902609
274 17099147 34355400 -119060000
299 17053061 34450089 -119277534
324 17059050 34419017 -119296402
349 17071718 34291597 -119215150
374 17076371 34285792 -119286112
399 17082901 34276290 -119242263
424 17088082 34276556 -119221434
449 17093924 34280827 -119184952
474 17101256 34353550 -119070604
499 17108342 34275276 -119162139
524 17117469 34225441 -119193245
549 17124214 34243663 -119034397
574 17134043 34229754 -119041686
599 17138635 34226559 -119023719
624 17142856 34235797 -118985462
649 17148943 34194812 -119198166
674 17155428 34180959 -119218107
699 17161014 34217783 -119186066
724 17168364 34168089 -119179610
749 17174287 34149885 -119188224
774 17184035 34151900 -119178000
799 17196822 34273201 -118905962
824 17203838 34287402 -118873594
849 17211731 34209222 -118879786
874 17217541 34217104 -118816565
899 17223154 34238617 -118813281
924 17228257 34284539 -118738921
949 17234977 34278788 -118712923
974 17241480 34242499 -118773647
999 17248951 34258852 -118780435

In [112]:
# pick up the first 25 rows as a sample dataset
sample = data[0:25]
print(sample)

    parcelid  latitude  longitude
0   10754147  34144442 -118654084
1   10759547  34140430 -118625364
2   10843547  33989359 -118394633
3   10859147  34148863 -118437206
4   10879947  34194168 -118385816
5   10898347  34171873 -118380906
6   10933547  34131929 -118351474
7   10940747  34171345 -118314900
8   10954547  34218210 -118331311
9   10976347  34289776 -118432085
10  11073947  34265214 -118520217
11  11114347  34447747 -118565056
12  11116947  34465048 -118568166
13  11142747  34416889 -118505805
14  11193347  34585014 -118162010
15  11215747  34563376 -118019104
16  11229347  34526913 -118050581
17  11287347  34690736 -118135225
18  11288547  34733960 -118139298
19  11324547  34560018 -118169806
20  11391347  33986910 -118329553
21  11395747  33960238 -118319986
22  11404347  33959896 -118350438
23  11405747  33952952 -118361711
24  11417147  33931500 -118352104

In [115]:
size = len(sample)
print(size)

25

In [114]:
for row in sample.itertuples():
    if (row[0] == size - 1):
        print(row[0])

24

In [116]:
row

Pandas(Index=24, parcelid=11417147, latitude=33931500, longitude=-118352104)

In [117]:
for attribute in row:
    print(attribute)

24
11417147
33931500
-118352104

### How to build a json format item

In [105]:
test = {
        'Name': '10759547',
        'Attributes': [
            {
                'Name': 'latitude',
                'Value': '34140430',
                'Replace': True
            },
            {
                'Name': 'longitude',
                'Value': '-118625364',
                'Replace': True
            },
        ]
    }

In [106]:
group = []

In [107]:
group.append(test)

In [108]:
group

[{'Attributes': [{'Name': 'latitude', 'Replace': True, 'Value': '34140430'},
   {'Name': 'longitude', 'Replace': True, 'Value': '-118625364'}],
  'Name': '10759547'}]

In [109]:
test2 = {
        'Name': '00000',
        'Attributes': [
            {
                'Name': 'latitude',
                'Value': '00000',
                'Replace': True
            },
            {
                'Name': 'longitude',
                'Value': '00000',
                'Replace': True
            },
        ]
    }

In [110]:
group.append(test2)

In [111]:
group

[{'Attributes': [{'Name': 'latitude', 'Replace': True, 'Value': '34140430'},
   {'Name': 'longitude', 'Replace': True, 'Value': '-118625364'}],
  'Name': '10759547'},
 {'Attributes': [{'Name': 'latitude', 'Replace': True, 'Value': '00000'},
   {'Name': 'longitude', 'Replace': True, 'Value': '00000'}],
  'Name': '00000'}]

### Test generating items using sample dataset

In [162]:
# generate one item
def generate_one_item(row):
    # index, parcelid, latitude, longitude
    parcelid = str(row[1])
    latitude = str(row[2])
    longitude = str(row[3])
    item = {
                'Name': parcelid,
                'Attributes': [
                    {
                        'Name': 'latitude',
                        'Value': latitude,
                        'Replace': True
                    },
                    {
                        'Name': 'longitude',
                        'Value': longitude,
                        'Replace': True
                    },
                ]
            }
    return item

In [163]:
generate_one_item(row)

{'Attributes': [{'Name': 'latitude', 'Replace': True, 'Value': '33931500'},
  {'Name': 'longitude', 'Replace': True, 'Value': '-118352104'}],
 'Name': '11417147'}

In [134]:
# put_items function test
def put_items(sdb, domainName, data):
    numOfItems = len(data)
    items_per_batch = []
    for row in data.itertuples():
        items_per_batch.append(generate_one_item(row))
        # put 25 items each time
        if (row[0] % 25 == 24) or (row[0] == numOfItems - 1):
            put_items_one_batch(sdb, domainName, items_per_batch)
            # reset items to []
            # items_per_batch = []
    return items_per_batch
            
# Do nothing here just for testing
def put_items_one_batch(sdb, domainName, items_per_batch):
#     response = sdb.batch_put_attributes(
#         DomainName=domainName,
#         Items=items_per_batch
#     )

    return

In [159]:
sdb = None
domainName = "ZillowData"
items_per_batch = put_items(sdb, domainName, sample)

In [143]:
print("Start: " + str(row[0] // 25 + 1) + " Put")

Start: 1 Put

In [161]:
type(items_per_batch)

list

# 3. sample queries connecting to DBaas

In [7]:
import json
import boto3
from pandas import DataFrame

In [2]:
# Config.json location
configFile = 'config.json'
with open(configFile) as globalSettings:
    config = json.load(globalSettings)

# read keys
ACCESS_KEY = str(config['AWSAccess'])
SECRET_KEY = str(config['AWSSecret'])
region = str(config['region'])

In [3]:
# Connect to SDB
Session = boto3.Session(
    aws_access_key_id=ACCESS_KEY,
    aws_secret_access_key=SECRET_KEY,
    region_name=region
)
sdb = Session.client('sdb')

In [181]:
response = sdb.select(
    SelectExpression="select latitude from ZillowData where latitude > '34171873'",
#     NextToken='string',
#     ConsistentRead=True|False
)
print(response)

{'ResponseMetadata': {'HTTPStatusCode': 200, 'RequestId': '0ad2b05f-b744-7163-36ce-3ff9ed52ac5f', 'BoxUsage': '0.0009278836', 'RetryAttempts': 0, 'HTTPHeaders': {'vary': 'Accept-Encoding', 'date': 'Wed, 05 Jul 2017 21:31:18 GMT', 'transfer-encoding': 'chunked', 'content-type': 'text/xml', 'server': 'Amazon SimpleDB', 'connection': 'keep-alive'}}, 'Items': [{'Name': '10879947', 'Attributes': [{'Name': 'latitude', 'Value': '34194168'}]}, {'Name': '10954547', 'Attributes': [{'Name': 'latitude', 'Value': '34218210'}]}, {'Name': '10976347', 'Attributes': [{'Name': 'latitude', 'Value': '34289776'}]}, {'Name': '11073947', 'Attributes': [{'Name': 'latitude', 'Value': '34265214'}]}, {'Name': '11114347', 'Attributes': [{'Name': 'latitude', 'Value': '34447747'}]}, {'Name': '11116947', 'Attributes': [{'Name': 'latitude', 'Value': '34465048'}]}, {'Name': '11142747', 'Attributes': [{'Name': 'latitude', 'Value': '34416889'}]}, {'Name': '11193347', 'Attributes': [{'Name': 'latitude', 'Value': '34585014'}]}, {'Name': '11215747', 'Attributes': [{'Name': 'latitude', 'Value': '34563376'}]}, {'Name': '11229347', 'Attributes': [{'Name': 'latitude', 'Value': '34526913'}]}, {'Name': '11287347', 'Attributes': [{'Name': 'latitude', 'Value': '34690736'}]}, {'Name': '11288547', 'Attributes': [{'Name': 'latitude', 'Value': '34733960'}]}, {'Name': '11324547', 'Attributes': [{'Name': 'latitude', 'Value': '34560018'}]}, {'Name': '12076747', 'Attributes': [{'Name': 'latitude', 'Value': '34172392'}]}, {'Name': '12167947', 'Attributes': [{'Name': 'latitude', 'Value': '34202429'}]}, {'Name': '12168547', 'Attributes': [{'Name': 'latitude', 'Value': '34192420'}]}, {'Name': '13114147', 'Attributes': [{'Name': 'latitude', 'Value': '34680553'}]}, {'Name': '13114347', 'Attributes': [{'Name': 'latitude', 'Value': '34680553'}]}, {'Name': '13114547', 'Attributes': [{'Name': 'latitude', 'Value': '34189273'}]}, {'Name': '13114747', 'Attributes': [{'Name': 'latitude', 'Value': '34209694'}]}, {'Name': '13115147', 'Attributes': [{'Name': 'latitude', 'Value': '34308900'}]}, {'Name': '13115347', 'Attributes': [{'Name': 'latitude', 'Value': '34276994'}]}, {'Name': '13115547', 'Attributes': [{'Name': 'latitude', 'Value': '34267763'}]}, {'Name': '13115747', 'Attributes': [{'Name': 'latitude', 'Value': '34327059'}]}, {'Name': '13115947', 'Attributes': [{'Name': 'latitude', 'Value': '34327059'}]}, {'Name': '13116147', 'Attributes': [{'Name': 'latitude', 'Value': '34314483'}]}, {'Name': '13116347', 'Attributes': [{'Name': 'latitude', 'Value': '34271503'}]}, {'Name': '13116547', 'Attributes': [{'Name': 'latitude', 'Value': '34245616'}]}, {'Name': '13116747', 'Attributes': [{'Name': 'latitude', 'Value': '34248085'}]}, {'Name': '13116947', 'Attributes': [{'Name': 'latitude', 'Value': '34228588'}]}, {'Name': '13117147', 'Attributes': [{'Name': 'latitude', 'Value': '34233366'}]}, {'Name': '13117347', 'Attributes': [{'Name': 'latitude', 'Value': '34413580'}]}, {'Name': '13117547', 'Attributes': [{'Name': 'latitude', 'Value': '34422603'}]}, {'Name': '13117747', 'Attributes': [{'Name': 'latitude', 'Value': '34422603'}]}, {'Name': '13117947', 'Attributes': [{'Name': 'latitude', 'Value': '34371722'}]}, {'Name': '13118147', 'Attributes': [{'Name': 'latitude', 'Value': '34410234'}]}, {'Name': '13118347', 'Attributes': [{'Name': 'latitude', 'Value': '34410234'}]}, {'Name': '13118547', 'Attributes': [{'Name': 'latitude', 'Value': '34422842'}]}, {'Name': '13118747', 'Attributes': [{'Name': 'latitude', 'Value': '34418546'}]}, {'Name': '13118947', 'Attributes': [{'Name': 'latitude', 'Value': '34571089'}]}, {'Name': '13119147', 'Attributes': [{'Name': 'latitude', 'Value': '34575492'}]}, {'Name': '13119347', 'Attributes': [{'Name': 'latitude', 'Value': '34561192'}]}, {'Name': '13119547', 'Attributes': [{'Name': 'latitude', 'Value': '34556011'}]}, {'Name': '13119747', 'Attributes': [{'Name': 'latitude', 'Value': '34647495'}]}, {'Name': '13119947', 'Attributes': [{'Name': 'latitude', 'Value': '34760580'}]}, {'Name': '13120147', 'Attributes': [{'Name': 'latitude', 'Value': '34680513'}]}, {'Name': '13120347', 'Attributes': [{'Name': 'latitude', 'Value': '34706358'}]}, {'Name': '13120547', 'Attributes': [{'Name': 'latitude', 'Value': '34707984'}]}, {'Name': '13120747', 'Attributes': [{'Name': 'latitude', 'Value': '34709046'}]}, {'Name': '13120947', 'Attributes': [{'Name': 'latitude', 'Value': '34702455'}]}, {'Name': '13121147', 'Attributes': [{'Name': 'latitude', 'Value': '34716989'}]}, {'Name': '13121347', 'Attributes': [{'Name': 'latitude', 'Value': '34708502'}]}, {'Name': '13121547', 'Attributes': [{'Name': 'latitude', 'Value': '34708502'}]}, {'Name': '13121747', 'Attributes': [{'Name': 'latitude', 'Value': '34448823'}]}, {'Name': '13121947', 'Attributes': [{'Name': 'latitude', 'Value': '34269111'}]}, {'Name': '13122547', 'Attributes': [{'Name': 'latitude', 'Value': '34351436'}]}, {'Name': '13124947', 'Attributes': [{'Name': 'latitude', 'Value': '34705741'}]}, {'Name': '13130347', 'Attributes': [{'Name': 'latitude', 'Value': '34238623'}]}, {'Name': '13130547', 'Attributes': [{'Name': 'latitude', 'Value': '34238428'}]}, {'Name': '13137147', 'Attributes': [{'Name': 'latitude', 'Value': '34621824'}]}, {'Name': '13137347', 'Attributes': [{'Name': 'latitude', 'Value': '34619963'}]}, {'Name': '13137547', 'Attributes': [{'Name': 'latitude', 'Value': '34619963'}]}, {'Name': '13137747', 'Attributes': [{'Name': 'latitude', 'Value': '34316857'}]}, {'Name': '13137947', 'Attributes': [{'Name': 'latitude', 'Value': '34558548'}]}, {'Name': '13138347', 'Attributes': [{'Name': 'latitude', 'Value': '34428643'}]}, {'Name': '13138547', 'Attributes': [{'Name': 'latitude', 'Value': '34429346'}]}, {'Name': '17061147', 'Attributes': [{'Name': 'latitude', 'Value': '34430592'}]}, {'Name': '17099147', 'Attributes': [{'Name': 'latitude', 'Value': '34355400'}]}, {'Name': '17051828', 'Attributes': [{'Name': 'latitude', 'Value': '34433200'}]}, {'Name': '17052152', 'Attributes': [{'Name': 'latitude', 'Value': '34464778'}]}, {'Name': '17052992', 'Attributes': [{'Name': 'latitude', 'Value': '34450686'}]}, {'Name': '17053038', 'Attributes': [{'Name': 'latitude', 'Value': '34448639'}]}, {'Name': '17053061', 'Attributes': [{'Name': 'latitude', 'Value': '34450089'}]}, {'Name': '17257947', 'Attributes': [{'Name': 'latitude', 'Value': '34260898'}]}, {'Name': '17303147', 'Attributes': [{'Name': 'latitude', 'Value': '34422767'}]}, {'Name': '17303347', 'Attributes': [{'Name': 'latitude', 'Value': '34429402'}]}, {'Name': '17304947', 'Attributes': [{'Name': 'latitude', 'Value': '34262892'}]}, {'Name': '17307347', 'Attributes': [{'Name': 'latitude', 'Value': '34192481'}]}, {'Name': '17308947', 'Attributes': [{'Name': 'latitude', 'Value': '34196427'}]}, {'Name': '17309547', 'Attributes': [{'Name': 'latitude', 'Value': '34268764'}]}, {'Name': '17310147', 'Attributes': [{'Name': 'latitude', 'Value': '34270215'}]}, {'Name': '17311347', 'Attributes': [{'Name': 'latitude', 'Value': '34339245'}]}, {'Name': '76914347', 'Attributes': [{'Name': 'latitude', 'Value': '34274964'}]}, {'Name': '76914547', 'Attributes': [{'Name': 'latitude', 'Value': '34410721'}]}, {'Name': '76914747', 'Attributes': [{'Name': 'latitude', 'Value': '34659491'}]}, {'Name': '17053543', 'Attributes': [{'Name': 'latitude', 'Value': '34437502'}]}, {'Name': '17054185', 'Attributes': [{'Name': 'latitude', 'Value': '34437002'}]}, {'Name': '17054285', 'Attributes': [{'Name': 'latitude', 'Value': '34438707'}]}, {'Name': '17054331', 'Attributes': [{'Name': 'latitude', 'Value': '34440918'}]}, {'Name': '17054431', 'Attributes': [{'Name': 'latitude', 'Value': '34437618'}]}, {'Name': '17054492', 'Attributes': [{'Name': 'latitude', 'Value': '34452715'}]}, {'Name': '17054889', 'Attributes': [{'Name': 'latitude', 'Value': '34451218'}]}, {'Name': '17054981', 'Attributes': [{'Name': 'latitude', 'Value': '34449407'}]}, {'Name': '17055119', 'Attributes': [{'Name': 'latitude', 'Value': '34445300'}]}, {'Name': '17055279', 'Attributes': [{'Name': 'latitude', 'Value': '34450161'}]}, {'Name': '17055559', 'Attributes': [{'Name': 'latitude', 'Value': '34456617'}]}, {'Name': '17055582', 'Attributes': [{'Name': 'latitude', 'Value': '34460706'}]}, {'Name': '17055674', 'Attributes': [{'Name': 'latitude', 'Value': '34456013'}]}, {'Name': '17055743', 'Attributes': [{'Name': 'latitude', 'Value': '34454169'}]}, {'Name': '17055981', 'Attributes': [{'Name': 'latitude', 'Value': '34453114'}]}], 'NextToken': 'rO0ABXNyACdjb20uYW1hem9uLnNkcy5RdWVyeVByb2Nlc3Nvci5Nb3JlVG9rZW7racXLnINNqwMA\nC0kAFGluaXRpYWxDb25qdW5jdEluZGV4WgAOaXNQYWdlQm91bmRhcnlKAAxsYXN0RW50aXR5SURa\nAApscnFFbmFibGVkSQAPcXVlcnlDb21wbGV4aXR5SgATcXVlcnlTdHJpbmdDaGVja3N1bUkACnVu\naW9uSW5kZXhaAA11c2VRdWVyeUluZGV4TAANY29uc2lzdGVudExTTnQAEkxqYXZhL2xhbmcvU3Ry\naW5nO0wAEmxhc3RBdHRyaWJ1dGVWYWx1ZXEAfgABTAAJc29ydE9yZGVydAAvTGNvbS9hbWF6b24v\nc2RzL1F1ZXJ5UHJvY2Vzc29yL1F1ZXJ5JFNvcnRPcmRlcjt4cAAAAAAAAAAAAAAAATsAAAAAAQAA\nAABaKY11AAAAAABwcH5yAC1jb20uYW1hem9uLnNkcy5RdWVyeVByb2Nlc3Nvci5RdWVyeSRTb3J0\nT3JkZXIAAAAAAAAAABIAAHhyAA5qYXZhLmxhbmcuRW51bQAAAAAAAAAAEgAAeHB0AAlBU0NFTkRJ\nTkd4'}

In [182]:
len(response['Items'])

100

In [5]:
response = sdb.select(
    SelectExpression="select * from ZillowData limit 5",
#     NextToken='string',
#     ConsistentRead=True|False
)
print(response)

{'ResponseMetadata': {'BoxUsage': '0.0000594282', 'HTTPHeaders': {'server': 'Amazon SimpleDB', 'transfer-encoding': 'chunked', 'date': 'Thu, 06 Jul 2017 22:13:25 GMT', 'connection': 'keep-alive', 'content-type': 'text/xml', 'vary': 'Accept-Encoding'}, 'HTTPStatusCode': 200, 'RetryAttempts': 0, 'RequestId': '7cf6c89b-daa0-b89e-ea78-03693e108332'}, 'NextToken': 'rO0ABXNyACdjb20uYW1hem9uLnNkcy5RdWVyeVByb2Nlc3Nvci5Nb3JlVG9rZW7racXLnINNqwMA\nC0kAFGluaXRpYWxDb25qdW5jdEluZGV4WgAOaXNQYWdlQm91bmRhcnlKAAxsYXN0RW50aXR5SURa\nAApscnFFbmFibGVkSQAPcXVlcnlDb21wbGV4aXR5SgATcXVlcnlTdHJpbmdDaGVja3N1bUkACnVu\naW9uSW5kZXhaAA11c2VRdWVyeUluZGV4TAANY29uc2lzdGVudExTTnQAEkxqYXZhL2xhbmcvU3Ry\naW5nO0wAEmxhc3RBdHRyaWJ1dGVWYWx1ZXEAfgABTAAJc29ydE9yZGVydAAvTGNvbS9hbWF6b24v\nc2RzL1F1ZXJ5UHJvY2Vzc29yL1F1ZXJ5JFNvcnRPcmRlcjt4cAAAAAAAAAAAAAAAAAUAAAAAAAAA\nAAAAAAAAAAAAAABwcHB4', 'Items': [{'Attributes': [{'Value': '34144442', 'Name': 'latitude'}, {'Value': '-118654084', 'Name': 'longitude'}], 'Name': '10754147'}, {'Attributes': [{'Value': '34140430', 'Name': 'latitude'}, {'Value': '-118625364', 'Name': 'longitude'}], 'Name': '10759547'}, {'Attributes': [{'Value': '33989359', 'Name': 'latitude'}, {'Value': '-118394633', 'Name': 'longitude'}], 'Name': '10843547'}, {'Attributes': [{'Value': '34148863', 'Name': 'latitude'}, {'Value': '-118437206', 'Name': 'longitude'}], 'Name': '10859147'}, {'Attributes': [{'Value': '34194168', 'Name': 'latitude'}, {'Value': '-118385816', 'Name': 'longitude'}], 'Name': '10879947'}]}

In [30]:
items = response['Items']
id = []
latitudes = []
longitudes = []

for attr in items:
    lat = float(attr['Attributes'][0]['Value']) / 1000000
    long = float(attr['Attributes'][1]['Value']) / 1000000
    id.append(attr['Name'])
    latitudes.append(lat)
    longitudes.append(long)
    
data = DataFrame({'id': id, 'latitude': latitudes, 'longitude': longitudes})
data

         id   latitude   longitude
0  10754147  34.144442 -118.654084
1  10759547  34.140430 -118.625364
2  10843547  33.989359 -118.394633
3  10859147  34.148863 -118.437206
4  10879947  34.194168 -118.385816

In [15]:
data = data.set_index('id')
data

           latitude   longitude
id
10754147  34.144442 -118.654084
10759547  34.140430 -118.625364
10843547  33.989359 -118.394633
10859147  34.148863 -118.437206
10879947  34.194168 -118.385816

In [39]:
closest = data.sort_values(by=['latitude'], ascending=True)[0:10]
closest

         id   latitude   longitude
2  10843547  33.989359 -118.394633
1  10759547  34.140430 -118.625364
0  10754147  34.144442 -118.654084
3  10859147  34.148863 -118.437206
4  10879947  34.194168 -118.385816

In [45]:
# print(closest.to_json(orient='records'))
result = closest.to_dict(orient='records')
result

[{'id': '10843547', 'latitude': 33.989359, 'longitude': -118.394633},
 {'id': '10759547', 'latitude': 34.14043, 'longitude': -118.625364},
 {'id': '10754147', 'latitude': 34.144442, 'longitude': -118.654084},
 {'id': '10859147', 'latitude': 34.148863, 'longitude': -118.437206},
 {'id': '10879947', 'latitude': 34.194168, 'longitude': -118.385816}]

In [46]:
test = [<%= raw result %>]
test

SyntaxError: invalid syntax (<ipython-input-46-cdb3b90af9f2>, line 1)